<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qbhsnetschool"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Donut-specific flags which allow us to run on any dpi screens. -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".app.QBHSApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme1" />

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>
        <activity
            android:name=".activity.LoginTrasitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.VerifyCodeAtivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme1" >
        </activity>

        <activity
            android:name=".activity.MyOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.MyCouponActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.ChangeNickNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.CourseDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.ConfirmOrderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="nosensor">
        </activity>

        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".widget.ccvideo.PcLivePlayActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qbhsnetschool"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        //-----------------------------------------------------小能start
        <activity
            android:name="cn.xiaoneng.newchatwindow.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/XNAppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="${packageName}.chatwindow" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.xiaoneng.leavemsg.LeaveMsgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/BlueBarTheme"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="${packageName}.leaveactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.xiaoneng.album.ShowAlbumActivity"
            android:theme="@style/XNAppTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.xiaoneng.valuation.ValuationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@style/translucent" />
        <activity
            android:name="cn.xiaoneng.picture.ShowPictureActivity"
            android:launchMode="singleTask"
            android:theme="@style/XNAppTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.xiaoneng.nsettings.NtSettingsActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.xiaoneng.nsettings.NtWindowSettings"
            android:screenOrientation="nosensor"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.xiaoneng.utils.common.XNExplorerActivity"
            android:launchMode="singleTask"
            android:theme="@style/XNAppTheme"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="${packageName}.exploreactivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.xiaoneng.video.VideoPreviewActivity"
            android:theme="@style/XNAppTheme"
            android:screenOrientation="nosensor" />
        <activity
            android:name="cn.xiaoneng.video.RecordVideoActivity2"
            android:screenOrientation="nosensor"
            android:theme="@style/BlueBarTheme" />
        <activity
            android:name="cn.xiaoneng.video.XNVideoPlayer"
            android:screenOrientation="nosensor"
            android:theme="@style/BlueBarTheme" />

        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${packageName}.fileProvider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/nt_file_paths" />-->
        <!--</provider>-->
        //-----------------------------------------------------小能end
        //-----------------------------------------------------ping++
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:launchMode">
        </activity>

        <activity-alias
            android:name="com.qbhsnetschool.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

    </application>

</manifest>